<!doctype html>
<html lang="en" ng-app="myapp">
<head>
	<meta charset="UTF-8">
	<title>PCF - Installation Data Collector</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- <link rel="stylesheet" href="css/cyborg/bootstrap.min.css"> -->
	<!-- <link rel="stylesheet" href="css/font-awesome.min.css"> -->
</head>
<!-- putting this at the top to remove the jarring load -->
<script src="scripts/angular.js"></script>
<script src="scripts/angular-resource.js"></script>
<script src="scripts/ui-bootstrap-tpls-0.11.0.min.js"></script>
<body ng-controller="MainCtl">

	<h1>PCF Data Collection Sheet</h1>
	<br>
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label for="environment" class="col-sm-1 control-label">Environment</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" ng-model="environment" name="environment" placeholder="Environment">
			</div>
		</div>
	</form>

	<div class="panel panel-primary">
		<div class="panel-heading">
  		<h3 class="panel-title"><a href="#" ng-model="section1" ng-click="section1=!section1">VMWare vSphere Information</a></h3>
		</div>

		<div ng-show="section1" id="section1">
			<br>
			<form class="form-horizontal" role="form">
	  		<div class="form-group">
			    <label for="vSphereAddressLabel" class="col-sm-4 control-label">vSphere Address</label>
			    <div class="col-sm-4">
			      <input type="text" class="form-control" ng-model="vSphereAddress" name="vSphereAddress" placeholder="vSphere IP/Hostname">
			    </div>
			  </div>
				<div class="form-group">
					<label for="username" class="col-sm-4 control-label">vSphere Username</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" ng-model="vSphereUserName" name="vSphereUserName" placeholder="vSphere Client UserName">
					</div>
				</div>
			  <div class="form-group">
			    <label for="vSpherePassword" class="col-sm-4 control-label">vSphere Password</label>
			    <div class="col-sm-4">
			      <input type="password" class="form-control" ng-model="vSpherePassword" name="vSpherePassword" placeholder="vSphere Client Password">
			    </div>
			  </div>
				<div class="form-group">
					<label for="svrusername" class="col-sm-4 control-label">vSphere Service Account Username</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" ng-model="svrUserName" name="svrUserName" placeholder="vSphere Service Account Username">
					</div>
				</div>
				<div class="form-group">
					<label for="vSpherePassword" class="col-sm-4 control-label">vSphere Sevice Account Password</label>
					<div class="col-sm-4">
						<input type="password" class="form-control" ng-model="svrPassword" name="svrPassword" placeholder="vSphere Service Account Password">
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a href="#" ng-model="section2" ng-click="section2=!section2">
					Network Information
				</a>
			</h3>
		</div>

		<div ng-show="section2" id="section2">
			<br>
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label for="netMask" class="col-sm-4 control-label">Netmask</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" ng-model="netMask" name="netMask" placeholder="Netmask for the network">
					</div>
				</div>
				<div class="form-group">
					<label for="defaultGateway" class="col-sm-4 control-label">Default Gateway</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" ng-model="defaultGateway" name="defaultGateway" placeholder="Default Gateway">
					</div>
				</div>
				<div class="form-group">
					<label for="dnsServers" class="col-sm-4 control-label">DNS Server/s</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" ng-model="dnsServers" name="dnsServers" placeholder="DNS Servers (Comma seperated)">
					</div>
				</div>
				<div class="form-group">
					<label for="ntpServers" class="col-sm-4 control-label">NTP Server/s</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" ng-model="ntpServers" name="ntpServers" placeholder="NTP Servers (Comma Seperated)">
					</div>
				</div>
				<div class="form-group">
					<label for="vSphereSubnet" class="col-sm-4 control-label">Subnet</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" ng-model="vSphereSubnet" name="vSphereSubnet" placeholder="vSphere Subnet with Mask, ex: 10.10.10.10/23">
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">
				<a href="#" ng-model="section3" ng-click="section3=!section3">
					vSphere Environment Information
				</a>
			</h3>
		</div>

		<div ng-show="section3" id="section3">
			<br>
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label for="vSphereDataCenterName" class="col-sm-4 control-label">Datacenter Name</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" ng-model="vSphereDataCenterName" name="vSphereDataCenterName" placeholder="vSphere Datacenter Name">
						</div>
					</div>
					<div class="form-group">
						<label for="vSphereClusterName" class="col-sm-4 control-label">Cluster Name</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" ng-model="vSphereClusterName" name="vSphereClusterName" placeholder="vSphere Cluster Name">
						</div>
					</div>
					<div class="form-group">
						<label for="vSphereDataStoreNames" class="col-sm-4 control-label">Data Store Name</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" ng-model="vSphereDataStoreNames" name="vSphereDataStoreNames" placeholder="vSphere Data Store Name/s">
						</div>
					</div>
					<div class="form-group">
						<label for="vSphereResourcePoolName" class="col-sm-4 control-label">Resource Pool Name</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" ng-model="vSphereResourcePoolName" name="vSphereResourcePoolName" placeholder="vSphere Resource Pool Name">
						</div>
					</div>
					<div class="form-group">
						<label for="vSphereNetworkName" class="col-sm-4 control-label">vSphere Network Name</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" ng-model="vSphereNetworkName" name="vSphereNetworkName" placeholder="vSphere Network Name">
						</div>
					</div>
				</form>
		</div>
	</div>

	<div class="panel panel-primary">

		<div class="panel-heading">
			<h3 class="panel-title">
				<a href="#" ng-model="section4" ng-click="section4=!section4">
					PivotalCF Mandatory Configuration Information
				</a>
			</h3>
		</div>

		<div ng-show="section4" id="section4">
			<br>
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label for="opsMgrIPAddress" class="col-sm-4 control-label">Ops Manager IP Address</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" ng-model="opsMgrIPAddress" name="opsMgrIPAddress" placeholder="Ops Manager IP Address">
					</div>
				</div>
				<div class="form-group">
					<label for="opsMgrUserName" class="col-sm-4 control-label">OPS Manager SSH UserName</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" ng-model="opsMgrUserName" name="opsMgrUserName" value="tempest" disabled>
					</div>
				</div>
				<div class="form-group">
					<label for="opsMgrPassword" class="col-sm-4 control-label">OPS Manager SSH Password</label>
					<div class="col-sm-4">
						<input type="password" class="form-control" ng-model="opsMgrPassword" name="opsMgrPassword" placeholder="OPS Manager SSH Password">
					</div>
				</div>

				<div class="form-group">
					<label for="externalLoadBalancer" class="col-sm-4 control-label">External Load Balancer?</label>
					<div class="col-sm-4">
						<input type="checkbox" ng-model="externalLoadBalancer" name="externalLoadBalancer">
					</div>
				</div>
				<div class="check-element animate-hide" ng-hide="externalLoadBalancer">
					<div class="form-group">
						<label for="haproxyIPs" class="col-sm-4 control-label">HAProxy IP/s</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" ng-model="haproxyIPs" name="haproxyIPs" placeholder="HAProxy IP (Comma Seperated)">
						</div>
					</div>
				</div>
				<div class="check-element animate-hide" ng-show="externalLoadBalancer">
					<div class="form-group">
						<label for="externalLBIPs" class="col-sm-4 control-label">External LoadBalancer IP/s</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" ng-model="externalLBIPs" name="externalLBIPs" placeholder="External Load Balancer IP (Comma Seperated)">
						</div>
					</div>
					<div class="form-group">
						<label for="externalAppsDomain" class="col-sm-4 control-label">External Applications Domain</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" ng-model="externalAppsDomain" name="externalAppsDomain" placeholder="External Applications Domain">
						</div>
					</div>
					<div class="form-group">
						<label for="externalSystemDomain" class="col-sm-4 control-label">External System Domain</label>
						<div class="col-sm-4">
							<input type="text" class="form-control" ng-model="externalSystemDomain" name="externalSystemDomain" placeholder="External System Domain">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="routerIPs" class="col-sm-4 control-label">Router IP/s</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" ng-model="routerIPs" name="routerIPs" placeholder="Router IP (Comma Seperated)">
					</div>
				</div>
				<div class="form-group">
					<label for="excludedIPRanges" class="col-sm-4 control-label">Excluded IP Ranges</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" ng-model="excludedIPRanges" name="excludedIPRanges" placeholder="Excluded IP Ranges">
					</div>
				</div>
				<div class="form-group">
					<label for="systemDomain" class="col-sm-4 control-label">System Domain</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" ng-model="systemDomain" name="systemDomain" placeholder="prodapp.cf.companyname.net or .com">
					</div>
				</div>
				<div class="form-group">
					<label for="applicationDomain" class="col-sm-4 control-label">Applications Domain</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" ng-model="applicationDomain" name="applicationDomain" placeholder="prodapp.cfapps.companyname.net or .com">
					</div>
				</div>
				<div class="form-group">
					<label for="publicCert" class="col-sm-4 control-label">Public Certificate</label>
					<div class="col-sm-4">
						<input type="textbox" class="form-control" ng-model="publicCert" name="publicCert" placeholder="Public certificate used for generating the wild card certificates">
					</div>
				</div>
				<div class="form-group">
					<label for="privateCert" class="col-sm-4 control-label">Private Certificate</label>
					<div class="col-sm-4">
						<input type="textbox" class="form-control" ng-model="privateCert" name="privateCert" placeholder="Private certificate generated for the wild card certificates">
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">
					<a href="#" ng-model="section5" ng-click="section5=!section5">
						PivotalCF Optional Configuration Information
					</a>
				</h3>
			</div>

			<div ng-show="section5">
				<br>

				<div class="panel panel-info">
					<a href="#" ng-model="subsection5.1" ng-click="subsection5.1=!subsection5.1">
						<div class="panel-heading">
							Cloud Controller Configuration
						</div>
					</a>

					<div ng-show="subsection5.1">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label for="ccDBEncryptionKey" class="col-sm-4 control-label">Cloud Controller DB Encryption Key</label>
								<div class="col-sm-4">
									<input type="textbox" class="form-control" ng-model="ccDBEncryptionKey" name="ccDBEncryptionKey" placeholder="Cloud Controller DB Encryption Key">
								</div>
							</div>
							<div class="form-group">
								<label for="maxFileSize" class="col-sm-4 control-label">Maximum file upload size (MB)</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" ng-model="maxFileSize" name="maxFileSize" placeholder="Maximum file upload size (MB), default 256MB">
								</div>
							</div>
						</form>
					</div>
				</div>

				<div class="panel panel-info">
					<a href="#" ng-model="subsection5.2" ng-click="subsection5.2=!subsection5.2">
						<div class="panel-heading">
							SSO Login - Single Sign-on Configuration
						</div>
					</a>

					<div ng-show="subsection5.2">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label for="ssoURL" class="col-sm-4 control-label">SSO URL</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" ng-model="ssoURL" name="ssoURL" placeholder="SSO URL">
								</div>
							</div>
						</form>
					</div>
				</div>

				<div class="panel panel-info">
					<a href="#" ng-model="subsection5.3" ng-click="subsection5.3=!subsection5.3">
						<div class="panel-heading">
							Web Console - Email Server Configuration
						</div>
					</a>

					<div ng-show="subsection5.3">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label for="replyToEmail" class="col-sm-4 control-label">Reply-To Email</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" ng-model="replyToEmail" name="replyToEmail" placeholder="Reply-To Email Address">
								</div>
							</div>
							<div class="form-group">
								<label for="fromEmail" class="col-sm-4 control-label">From Email</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" ng-model="fromEmail" name="fromEmail" placeholder="From Email Address">
								</div>
							</div>
							<div class="form-group">
								<label for="smtpServerAddress" class="col-sm-4 control-label">Address of SMTP Server</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" ng-model="smtpServerAddress" name="smtpServerAddress" placeholder="SMTP Server Address">
								</div>
							</div>
							<div class="form-group">
								<label for="smtpServerPort" class="col-sm-4 control-label">Port of SMTP Server</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" ng-model="smtpServerPort" name="smtpServerPort" placeholder="SMTP Server Port">
								</div>
							</div>
							<div class="form-group">
								<label for="heloDomain" class="col-sm-4 control-label">HELO Domain</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" ng-model="heloDomain" name="heloDomain" placeholder="HELO Domain">
								</div>
							</div>

							<div class="form-group">
								<label for="smtpAuthRequired" class="col-sm-4 control-label">SMTP Authentication Required?</label>
								<div class="col-sm-4">
									<input type="checkbox" ng-model="smtpAuthRequired" name="smtpAuthRequired">
								</div>
							</div>
						</form>
					</div>

					<div class="check-element animate-hide" ng-show="smtpAuthRequired">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label for="smtpServerUsername" class="col-sm-4 control-label">SMTP Server Username</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" ng-model="smtpServerUsername" name="smtpServerUsername" placeholder="SMTP Server Username">
								</div>
							</div>
							<div class="form-group">
								<label for="smtpServerPassword" class="col-sm-4 control-label">SMTP Server Password</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" ng-model="smtpServerPassword" name="smtpServerPassword" placeholder="SMTP Server Password">
								</div>
							</div>
					  </form>
					</div>
				</div>

				<div class="panel panel-info">
					<a href="#" ng-model="subsection5.4" ng-click="subsection5.4=!subsection5.4">
						<div class="panel-heading">
							Quota Settings
						</div>
					</a>

					<div ng-show="subsection5.4">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label for="appMemory" class="col-sm-4 control-label">App Memory (MB)</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" ng-model="appMemory" name="appMemory" placeholder="App Memory (MB)">
								</div>
							</div>
							<div class="form-group">
								<label for="serviceInstances" class="col-sm-4 control-label">Service Instances</label>
								<div class="col-sm-4">
									<input type="text" class="form-control" ng-model="serviceInstances" name="serviceInstances" placeholder="Service Instances">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


	<button class="btn btn-info" onClick="javascript:validate()">Validate</button>

	<button class="btn btn-primary" ng-click="save()">
		<i class="fa fa-plus"></i> Save
	</button>

<script>
	// new dependency: ngResource is included just above
	var myapp = new angular.module("myapp", ["ngResource"]);

	// inject the $resource dependency here
	myapp.controller("MainCtl", ["$scope", "$resource", function($scope, $resource){

		var Data = $resource("/data/:id", {id: '@id'}, {});
		var vSphereInfo = $resource();
		var NetworkInfo = $resource();
		var vSphereEnvInfo = $resource();
		var MandatoryInfo = $resource();
		var OptionalInfo = $resource();

		$scope.data = new Data();

		$scope.save = function() {
			var newData = new Data();

			var newVSphereInfo = new vSphereInfo();
			newVSphereInfo.vSphereAddress = $scope.vSphereAddress;
			newVSphereInfo.vSphereUserName = $scope.vSphereUserName;
			newVSphereInfo.vSpherePassword = $scope.vSpherePassword;
			newVSphereInfo.svrUserName = $scope.svrUserName;
			newVSphereInfo.svrPassword = $scope.svrPassword;

			var networkInfo = new NetworkInfo();
			networkInfo.netMask = $scope.netMask;
			networkInfo.defaultGateway = $scope.defaultGateway;
			networkInfo.dnsServers = $scope.dnsServers;
			networkInfo.ntpServers = $scope.ntpServers;
			networkInfo.vSphereSubnet = $scope.vSphereSubnet;

			var newVSphereEnvInfo = new vSphereEnvInfo();
			newVSphereEnvInfo.vSphereDataCenterName = $scope.vSphereDataCenterName;
			newVSphereEnvInfo.vSphereClusterName = $scope.vSphereClusterName;
			newVSphereEnvInfo.vSphereDataStoreNames = $scope.vSphereDataStoreNames;
			newVSphereEnvInfo.vSphereResourcePoolName = $scope.vSphereResourcePoolName;
			newVSphereEnvInfo.vSphereNetworkName = $scope.vSphereNetworkName;

			var mandatoryInfo = new MandatoryInfo();
			mandatoryInfo.opsMgrIPAddress = $scope.opsMgrIPAddress;
			mandatoryInfo.opsMgrUserName = $scope.opsMgrUserName;
			mandatoryInfo.opsMgrPassword = $scope.opsMgrPassword;
			mandatoryInfo.routerIPs = $scope.routerIPs;
			mandatoryInfo.excludedIPRanges = $scope.excludedIPRanges;

			mandatoryInfo.externalLoadBalancer = $scope.externalLoadBalancer;

			if($scope.externalLoadBalancer) {
				mandatoryInfo.externalLBIPs = $scope.externalLBIPs;
				mandatoryInfo.externalAppsDomain = $scope.externalAppsDomain;
				mandatoryInfo.externalSystemDomain = $scope.externalSystemDomain;
			} else {
				mandatoryInfo.haproxyIPs = $scope.haproxyIPs;
			}
			mandatoryInfo.systemDomain = $scope.systemDomain;
			mandatoryInfo.applicationDomain = $scope.applicationDomain;
			mandatoryInfo.publicCert = $scope.publicCert;
			mandatoryInfo.privateCert = $scope.privateCert;

			var optionalInfo = new OptionalInfo();
			optionalInfo.ccDBEncryptionKey = $scope.ccDBEncryptionKey;
			optionalInfo.maxFileSize = $scope.maxFileSize;
			optionalInfo.ssoURL = $scope.ssoURL;
			optionalInfo.replyToEmail = $scope.replyToEmail;
			optionalInfo.fromEmail = $scope.fromEmail;
			optionalInfo.smtpServerAddress = $scope.smtpServerAddress;
			optionalInfo.smtpServerPort = $scope.smtpServerPort;
			optionalInfo.heloDomain = $scope.heloDomain;
			optionalInfo.smtpAuthRequired = $scope.smtpAuthRequired;

			if($scope.smtpAuthRequired) {
				optionalInfo.smtpServerUsername = $scope.smtpServerUsername;
				optionalInfo.smtpServerPassword = $scope.smtpServerPassword;
			}

			optionalInfo.appMemory = $scope.appMemory;
			optionalInfo.serviceInstances = $scope.serviceInstances;

			// newData.newVSphereInfo = newVSphereInfo;
			// newData.networkInfo = networkInfo;
			// newData.newVSphereEnvInfo = newVSphereEnvInfo;
			// newData.mandatoryInfo = mandatoryInfo;
			// newData.optionalInfo = optionalInfo;

			newData.environment = $scope.environment;
			newData.$save();
		}

	}]);

	function validate() {
		for (var j = 1; j < 5; j++) {
			var section = document.getElementById("section"+j);
			var fields = section.getElementsByClassName("form-control");
			var labels = section.getElementsByClassName("control-label");
			for(var i = 0; i < fields.length; i++) {
				if(fields[i] == "") {
					fields[i].focus();
					break;
					alert("please enter value for " + labels[i].innerHTML)
				}
			}
		}

	}

</script>
</body>
</html>
